 /* 
 font-family: proxima-nova,sans-serif;
font-weight: 300;
font-style: normal;
 

color: ;
color: ;



 */





.logo {
  position: absolute;
  top: 50px;
  left: 75px;
}

.logo span a {
  font: 900 2em proxima-nova, sans-serif;
  color: #FFA7A7; 
  letter-spacing: 2px; 
  text-decoration: none;
}




  #taskr-contact {
    position: absolute;
    top: 12.5%;
    left: 35%;
    width: 50%;
  }

 #taskr-contact-heading  {
    margin-bottom: 25px;
 } 

 #taskr-contact-heading p {
  font: 500 0.8em proxima-nova, sans-serif;
  color: #060708; 
 }

 #taskr-contact-heading img {
  width: 74px;
  height: 74px; 
 }

 #taskr-contact-heading span {
  font: 900 1.4em proxima-nova, sans-serif;
  color: #FFA7A7; 
  letter-spacing: 2px;
  position: absolute; 
  top: 25px;
  left: 100px;
 }

 #taskr-contact-body ul li {
  font: 500 1em proxima-nova, sans-serif;
  color: #060708; 
  letter-spacing: 2px;
  padding: 25px 0 25px 25px;
  border-bottom: 1px solid rgba(255, 167, 167, 0.1);
 }

 #taskr-contact-body ul li:first-child, #taskr-contact-body ul li:last-child {
  border: none;
 }

 #taskr-contact-body ul li span {
   margin-left: 25px;
   padding: 5px;
 }

 /* .data-contact-field {
   background: rgba(0,0,0,0.1);
 } */

 #taskr-contact-body ul li span[contenteditable="true"]:hover {
  background: rgba(105, 105, 105, 0.1);
  border: 1px solid rgba(6, 7, 8, 0.2);
}

#taskr-contact-body ul li span[contenteditable="true"] {
  outline: none;
}


 #taskr-contact-body button {
   background: transparent;
   border: 1px solid #FFA7A7;
   font: 500 1em proxima-nova, sans-serif;
   color: #FFA7A7;
   padding: 15px 105px;
   cursor: pointer;
   margin: 50px 0 0 10px;
 }





/* Global */

* {
  padding: 0;
  margin: 0
 }

body {
  background: #fcfcfc;  
}

ul li {
  list-style-type: none;
}

#upload {
  display: none;
}

#login-menu {
  position: absolute;
  top: 75px;
  right: 100px;
}

#login-menu ul li a {
  color: #FFA7A7;
  font: 700 1.3em proxima-nova, sans-serif;
  letter-spacing: 2px;
  text-decoration: underline;
  font-variant: small-caps;
}

.content {
  margin: 0 auto;
  width: 100%;
}

.dashboard-sidebar {
  background: #060708;
  width: 35em;
  height: 255em;
  position:absolute;
  left: 0;
}

.contacts-sidebar {
  position: absolute;
  top: 160px;
  left: 75px;
}


#contact-heading {
font: 900 1.3em proxima-nova, sans-serif;
color: #fcfcfc;  
letter-spacing: 2px;
position: relative;
top: -5px;
left: 10px;
}



.contacts-sidebar span {
  font: 900 1em proxima-nova, sans-serif;
  color: #fcfcfc;  
  letter-spacing: 2px;
  position: relative;
  top: -35px;
  left: 10px;
 
}

.contacts-sidebar p {
  position: relative;
  top: -35px;
  left: 90px;
  display: inline-block;
  letter-spacing: 2px;
  font: 600 1em proxima-nova, sans-serif;
  color: #fcfcfc;
  text-align: center;
}

.contacts-sidebar a {
  font: 900 1em proxima-nova, sans-serif;
  color: #fcfcfc;  
  letter-spacing: 2px;
  text-decoration: none; 
}

.contacts-sidebar img {
width: 74px;
height: 74px;
}

.fa {
  font-size: 25em !important;
}


.contacts-sidebar div {
padding: 10px 80px 5px 75px;
cursor: pointer;
width: 100%;
border-bottom: 1px solid rgba(87, 87, 87, 0.1); 
position: relative;
left: -70px;
top: 15px;
}

.contacts-sidebar div:hover {
 background: rgba(255, 232, 232, 0.1);
}



#contact-list {
  position: relative;
  top: 25px;
  left: 30px;
}

.contacts-sidebar ul li a {
 text-decoration: none;
}



.contacts-sidebar ul li  {
  font: 900 1.2em proxima-nova, sans-serif;
  color: #fcfcfc; 
  text-align: center;
 }
 


.tasks-sidebar {
  position: absolute;
  top: 925px;
  left: 75px;
}

.tasks-sidebar span {
font: 900 1.5em proxima-nova, sans-serif;
color: #fcfcfc;  
letter-spacing: 2px;
position: relative;
top: -5px;
left: 10px;

}

.tasks-sidebar ul {
  position: relative;
  top: 25px;
  left: 40px;
}

.tasks-sidebar ul li {
 margin-bottom: 15px;
}

.tasks-sidebar ul li a{
font: 700 1.2em proxima-nova, sans-serif;  
color: #fcfcfc;
text-decoration: none;
letter-spacing: 2px;
}

.tasks-sidebar ul li a:hover {
color: #FFA7A7;
}


#contact-display {
  text-align: center;
  position: absolute;
  top: 700px;
  left: 150px;
 }


 #contact-display a {
  color: #FFA7A7;
  font: 900 1em proxima-nova, sans-serif;
  text-decoration: underline;
  letter-spacing: 2px;
}



.contact-type {
  position: absolute;
  bottom: 75px;
  left: 45px; 
}

.contact-type button {
background: transparent;
font: 700 1.2em proxima-nova, sans-serif;  
color: #fcfcfc;
border: 1px solid #fcfcfc;
padding: 5px 25px;
cursor: pointer;
margin-left: 15px;
}


.contact-type button:hover {
  color: #FFA7A7; 
  border: 1px solid #FFA7A7;   
}

.contacts-sidebar sup {
  color: #fafafa;
  font: 700 0.9em proxima-nova, sans-serif;
  letter-spacing: 2px;
  position: relative;
  left: 68px; 
  top: -25px;
}







/******/


/* Register */


#register {
  position: absolute;
  top: 22%;
  left: 45%;
  width: 20%;
}

#register #logo {
  width: 25%;
  margin: 0 auto 50px auto;
}



#register span a {
  font: 900 2em proxima-nova, sans-serif;
  color: #FFA7A7; 
  letter-spacing: 2px; 
  text-decoration: none;
}


#register input[type='checkbox']{
  margin: 15px 0;
}


#register input[type='text'], #register input[type='password'] {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid rgba(204, 204, 204, 0.2);
}

#register label {
  color: #FFA7A7;
  font: 700 1em proxima-nova, sans-serif; 
}

#register p {
  font: 600 1em proxima-nova, sans-serif;  
  letter-spacing: 2px; 
  margin: 25px 0;
}

#register p a {
  color: #FFA7A7;
}

#submit {
   border: 1px solid #FFA7A7;
   background: transparent;
   color: #FFA7A7;
   font: 700 1em proxima-nova, sans-serif;
   width: 100%;
   height: 60px;
   cursor: pointer;
   margin: 25px 0 55px 0;
}




/******/



/* Login */

#login {
  position: absolute;
  top: 22%;
  left: 45%;
  width: 20%;
}

#login #logo {
  width: 25%;
  margin: 0 auto 50px auto;
}



#login span a {
  font: 900 2em proxima-nova, sans-serif;
  color: #FFA7A7; 
  letter-spacing: 2px; 
  text-decoration: none;
}


#login input[type='checkbox']{
  margin: 15px 0;
}


#login input[type='text'], #login input[type='password'] {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid rgba(204, 204, 204, 0.2);
}

#login label {
  color: #FFA7A7;
  font: 700 1em proxima-nova, sans-serif; 
}

#login p {
  font: 600 1em proxima-nova, sans-serif;  
  letter-spacing: 2px; 
  margin: 25px 0;
}

#login p a {
  color: #FFA7A7;
}

#submit {
   border: 1px solid #FFA7A7;
   background: transparent;
   color: #FFA7A7;
   font: 700 1em proxima-nova, sans-serif;
   width: 100%;
   height: 60px;
   cursor: pointer;
   margin: 25px 0 55px 0;
}

/******/


/* Dashboard */

#dashboard {
  position: absolute;
  top: 12%;
  left: 35%;
  width: 50%;
}


#dashboard h1 {
  font: 900 1.7em proxima-nova, sans-serif; 
  color: #FFA7A7;
  margin-bottom: 50px;
}

#dashboard input::placeholder {
  color: rgba(17, 21, 25, 0.5);
}

#dashboard input {
  border: 1px solid rgba(204, 204, 204, 0.2);
  color: rgba(17, 21, 25, 0.5);
  font: 700 0.8em proxima-nova, sans-serif;
  width: 75%;
  height: 50px;
  margin-bottom: 35px;
  padding-left: 5px;
}

#dashboard input[type='submit'] {
  height: 75px;
  border: 1px solid #FFA7A7;
  padding: 10px;
  color: #FFA7A7;
  font: 700 1.2em proxima-nova, sans-serif;
  font-variant: small-caps;
  background: transparent;
  cursor: pointer;
  margin-top: 25px;
}

#dashboard input[type='submit']:hover {
  background-color: #FFA7A7;
  color: #fafafa;
}




/******/




/* Task */


#task, #tasks {
   position: absolute;
   top: 12%;
   left: 35%;
   width: 50%;
}

#task h1, #tasks h1 {
  font: 900 1.7em proxima-nova, sans-serif; 
  color: #FFA7A7;
  margin-bottom: 50px;
}

#task input::placeholder {
  color: rgba(17, 21, 25, 0.5);
}

#task input {
  border: 1px solid rgba(204, 204, 204, 0.2);
  color: rgba(17, 21, 25, 0.5);
  font: 700 0.8em proxima-nova, sans-serif;
  width: 75%;
  height: 50px;
  margin-bottom: 35px;
  padding-left: 5px;
}

#task input[type='submit'] {
  height: 75px;
  border: 1px solid #FFA7A7;
  padding: 10px;
  color: #FFA7A7;
  font: 700 1.2em proxima-nova, sans-serif;
  font-variant: small-caps;
  background: transparent;
  cursor: pointer;
  margin-top: 25px;
}

#task input[type='submit']:hover {
  background-color: #FFA7A7;
  color: #fafafa;
}

.txtFld {
  border: 1px solid rgba(204, 204, 204, 0.2);
  color: rgba(17, 21, 25, 0.5);
  font: 700 0.8em proxima-nova, sans-serif;
  width: 75%;
  height: 250px;
  margin-bottom: 35px;
  padding-top: 10px;
  padding-left: 5px; 
}

#tasks ul {
  width: 100%;
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
}


#tasks ul li {
 display: inline-block;
 font: 600 1em proxima-nova, sans-serif;
 color: rgb(17, 21, 25);
 padding: 7px 25px;
 margin-top: -15px;
 width: 150px;
}

#tasks ul li a {
  color: #060708;
}  

#tasks ul li a:hover {
  color: #FFA7A7;
}  

.high {
  width: 15px !important;
  height: 15px !important;
  background: red;
  border-radius: 50%;
  display: inline-block;
  padding: 0 !important;
  margin: 25px 0 0 25px !important;
}

.moderate {
  width: 15px !important;
  height: 15px !important;
  background: #1AFF84;
  border-radius: 50%;
  display: inline-block;
  padding: 0 !important;
  margin: 25px 0 0 25px !important;
}

.low {
  width: 15px !important;
  height: 15px !important;
  background: #FFA71A;
  border-radius: 50%;
  display: inline-block;
  padding: 0 !important;
  margin: 25px 0 0 25px !important;
}


/******/



/* Contact */




/******/




/* Media Queries */




/******/